@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

body
{
	background-color: #f2f2f2;
	font-weight: 300;
	color: #555;
	font-family: "Lato", sans-serif;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;

	margin-top: 65px;
}

a {
	font-size: 1.15rem;
}

a:hover, a:focus {
	text-decoration: none;
	outline: 0;
	color: #3b9b41;
}

.navbar-brand {
	font-size: 25px;
}

.link {
	font-size: 1.15rem;
	color: #fff;
	transition: all .3s ease;
	text-align: center;
	padding: .5rem 1rem;
	display: block;
	margin-right: 10px;
}

.link: hover {
	color: #3b9b41;
}

.nav-link {
	margin-right: 10px;
}

.centered {
	text-align: center;
}
.line
{
	border-bottom: 1px solid #e3e3e3;
	padding-top: 20px;
	padding-bottom: 15px;
}
.about-title {
	float: left;
	margin-right: 10px;

}

.about-info
{
	padding: 2px 0;
	margin: 0.5rem;
	opacity: 0.8;
}

.right_fix {
	text-align: right;
}

.social_grid {
	display: grid;
	grid-template-columns: 5fr 1fr 5fr;
	grid-template-areas: "bl contentS br";
}

.bl {
	grid-area: bl;
}

.br {
	grid-area: br;
}

.social_content {
	grid-area: contentS;
	min-width: 150px;
}

@media  (min-width: 991.98px) {
	.social_grid {
		display: block;
	}
}


.social-icon {
		background: rgba(217, 217, 217, 0.2);
    transition: all .3s ease;
    border-radius: 15px;
    position: relative;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    display: inline-flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 50%;
    float: left;

}
.vk {
  background-image: url(../img/vk.png);
}
.vk:hover { 
  background-color: #507299;
}

.telegram {
	background-image: url(../img/telegram.png);
}
.telegram:hover {
	background-color: #2ca5e0;
}

.github {	
	background-image: url(../img/github-32.png);
}
.github:hover {
	background-color: black;
}

.navbar-text {
	float: left;
}

.point:after {
	content: ".";
	color: #3b9b41;
}

.portfolio_img img{
	height: auto;
	width: 100%;
	border-radius: 5px;
	display: block;
}

.opacity-box {
	font-style: italic;
}

.triangles {

	float: right;
	margin-left: 400px;
}

.triangles img {
	
	width: 150px;
	left: 150px;
	bottom: -5px;
}

.form-group {
	position: relative;
	margin-bottom: 20px;
	margin-right: 0px;
	height: auto;
	width: auto;
}

.contact1 {
	height: 50px;
	width: 215px;
	margin-bottom: 10px;
	margin-right: 10px;
	
}

.contactM {
	height: 110px;
	width: 350px;
}

.form-field {
	border: 1px solid #e3e3e3;
	border-radius: 2px;
	padding: 0 20px;
	transition: all 0.3s ease;
}

.form-field:hover {
	border: 1px solid #3b9b41;
}

.form-field:focus {
	border: 1px solid #3b9b41;
}

input:focus, input:hover {
	outline: none !important;
}

textarea:focus, textaead:hover {
	outline: none !important;
}

.btn-dark:hover {
	background-color: #3b9b41;
	border: 1px solid #3b9b41;

}

.btn-dark {
	float:left;
}

.footer {
	margin-top: 10px;
	font-size: 0.8rem;
	background-color: #efefef;
	text-align: center;
}

.si {
	max-width: 700px;
	text-align: center;
	cursor: pointer;
}
	